<%= render :partial => "header" %>
	<h1>Thank you <%= @user.profile.first_name %>,</h1>
	<p>
		Your password has been successfully reset.<br/>
		Your temporary password is: <strong><%= @password %></strong>
	</p>
	<p>
		To login to the site, copy/paste your temporary password into the login page: <a href="<%= 'http://' + @site + @login_path %>" style="color:#1c8bac; text-decoration:none;"><%= 'http://' + @site + @login_path %></a>
	</p>
	<br /><br />
	<p>If you have any questions, please contact us!</p>
	<h4><a href="mailto:<%= @email %>" style="color:#1c8bac; text-decoration:none;"><%= @email %></a></h4>
	<br /><br />
<%= render :partial => "footer" %>