<%= render :partial => "header" %>
	<h1>Welcome to <%= @site %>!</h1>
	<p>
		Your username is: <%= @user.email %>.
	</p>
	<p>
		To login to the site, just follow this link: <a href="<%= 'http://' + @site + @login_path %>" style="color:#1c8bac; text-decoration:none;"><%= 'http://' + @site + @login_path %></a>
	</p>
	<br /><br />
	<p>If you have any questions, please contact us!</p>
	<h4><a href="mailto:<%= @email %>" style="color:#1c8bac; text-decoration:none;"><%= @email %></a></h4>
	<br /><br />
<%= render :partial => "footer" %>