<tr class="<%= cycle('odd', 'even') %>">
	<td><%= category.name %></td>
	<td><%= category.master_category_name %></td>
	<td>
		<%= link_to '[show]', category %>&nbsp;
		<%= link_to '[edit]', edit_category_path(category) %>&nbsp;
		<%= link_to '[delete]', category, :method => :delete, :confirm => "Are you sure you want to permanently delete this category from the database?\n\nThis cannot be undone." %>
	</td>
</tr>